:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4f4fdc;
}

paper-listbox {
  width: 33vw;
  margin: 33vh auto 0 auto;
  padding: 8px 0 8px 0;
  background-color: transparent;

  paper-item {
    margin: 8px;
    border: 6px #66f ridge;
    border-radius: 4px;
    padding: 8px;
    color: #ff3;
    user-select: none;
    cursor: pointer;

    --paper-item-selected-weight: normal;

    --paper-item-focused {
      background-color: #33f;
    }

    &:nth-last-of-type(2) {
      height: 150px;
      font-size: 250%;
    }

    span {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
