:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4f4fdc;
}

paper-listbox {
  width: 50vw;
  margin: 20vh auto 0 auto;
  padding: 8px 0 8px 0;
  border: 6px #66f ridge;
  background-color: transparent;

  paper-item {
    margin: 8px;
    border-radius: 4px;
    padding: 0 8px;
    color: #ff3;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    height: 4em;

    span {
      display: inline-block;
      min-width: 20%;
    }

    paper-listbox {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: initial;
      border: none;

      paper-item {
        margin: 0;
        flex: 1 0;

        span {
          display: block;
          width: 100%;
          text-align: center;
        }

        --paper-item-selected-weight: bolder;

        &.iron-selected {
          border: none;
          color: #f88;
          text-shadow:
            1px -1px 0 black,
            1px 1px 0 black,
            -1px 1px 0 black,
            -1px -1px 0 black;
          text-decoration: underline;
        }
      }
    }

    --paper-item-selected-weight: normal;

    &:focus {
      border: 6px #338 ridge;
    }

    &:focus::before {
      background-color: transparent;
    }
  }
}

.confirm > span {
  width: 100%;
  text-align: center;
}

keybindings-menu {
  opacity: 0;
}

.edit-binding > span {
  background: linear-gradient(90deg, teal 0%, navy 50%, teal 100%);
  background-size: 200% 100%;
  animation: pulse-bg 2s cubic-bezier(.8, .2, .2, .8) infinite;
  line-height: 2em;
  margin: 0 24px;
  border-radius: 4px;
}

.binding-changed {
  font-weight: bold;
  color: #faa;
  text-shadow:
    1px -1px 0 #800,
    1px 1px 0 #800,
    -1px 1px 0 #800,
    -1px -1px 0 #800;
}

@keyframes pulse-bg {
  0% {background-position: 0% 50%}
  25% {background-position: 100% 50%}
  50% {background-position: 0% 50%}
  100% {background-position: 0% 50%}
}
