<style include="common"></style>
<style include="options"></style>

<paper-listbox
    id="menuOptions"
    attr-for-selected="value"
    selected="textSpeed"
    on-iron-activate="optionItemSelected_">
  <template is="dom-repeat" items="[[options_]]">
    <paper-item value="[[item.name]]">
      <span>[[item.label]]</span>
      <paper-listbox attr-for-selected="value" selected="[[item.current]]">
        <template is="dom-repeat" items="[[item.possibleValues]]">
          <paper-item value="[[item]]">
            <span>[[item]]</span>
          </paper-item>
        </template>"
      </paper-listbox>
    </paper-item>
  </template>
  <paper-item value="keybindings"><span>Edit keybindings</span></paper-item>
  <paper-item value="confirm" class="confirm"><span>Confirm</span></paper-item>
</paper-listbox>
<keybindings-menu id="keybindings"></keybindings-menu>
