@import '../../common';

:host {
  @include full-screen;
  background-color: $backgroundColor;
}

#window {
  border: $borderRidge;
  position: relative;
  left: 20vw;
  top: 20vh;
  width: 60vw;
  height: 60vh;
  background-color: $lightBackgroundColor;
}

#window > img {
  position: absolute;
  top: calc(50% - 190px);
  left: calc(50% - 250px);
}

#opening-eyes {
  @include full-screen;
  background-image: radial-gradient(ellipse 60% 0%, transparent, black 75%);
  transition: opacity 2s;
}

#gender-selector,
#male-name-selector,
#female-name-selector {
  width: 0;
  height: 0;
  overflow: hidden;
  transition: width 1s, height 1s, opacity .4s !important;
  background: none;

  &.full {
    opacity: 1;
    width: 13em;
    height: 17.8em;
  }

  paper-item::before {
    content: '';
    width: $whitespaceDistance * 2;
  }

  .selected::before {
    content: '\u2bc8';
    font-weight: bold;
  }
}

#gender-selector.full {
  height: 11.8em;
}

#selector {
  border: $borderRidge;
  border-radius: $borderRadius;
  padding: $whitespaceDistance;
  margin: $whitespaceDistance;
  background: $lightBackgroundColor;

  --paper-item-disabled-color: black;
  --paper-item-selected-weight: normal;

  --paper-item-focused-before: {
    background: none;
  };

  [disabled] span {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    display: block;
    width: 100%;
  }
}
