<style include="intro-sequence"></style>

<sprite-sheet id="oak-dialogue" src="sprite-sheets/oak-dialogue.png">
  <sprite-config name="open" duration="3">
    <sprite-frame x="0" y="0" width="137" height="142"></sprite-frame>
    <sprite-frame x="137"></sprite-frame>
    <sprite-frame x="274"></sprite-frame>
  </sprite-config>
  <sprite-config name="closed" duration="3">
    <sprite-frame x="0" y="142" width="137" height="142"></sprite-frame>
    <sprite-frame x="137"></sprite-frame>
    <sprite-frame x="274"></sprite-frame>
  </sprite-config>
</sprite-sheet>
<div id="window">
  <img src="/images/oak-pain.png">
  <div id="opening-eyes"></div>
</div>
