@import '../../common';

:host {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}

#box {
  display: flex;
  position: absolute;
  background-color: $lightBackgroundColor;
  border: $borderRidge;
  left: 50%;
  bottom: $whitespaceDistance;
  transform: translate(-50%, 0);
  padding: $whitespaceDistance;
  transition: width 1s, height 1s, opacity .4s;
  font-size: 24pt;
  line-height: 1.5em;
  max-width: calc(100% - #{$whitespaceDistance * 2});
  max-height: 4em;
  box-sizing: border-box;
  border-radius: $borderRadius;

  // initial state
  width: 0;
  height: 0;
  opacity: 0;

  &.full {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  #next-line {
    font-size: 48pt;
    position: absolute;
    bottom: 0;
    right: $whitespaceDistance;
    animation: blink 1s steps(5, start) infinite;
    display: none;
  }

  &.next #next-line {
    display: inline-block;
  }

  #avatar :first-child {
    transform-origin: top left;
  }
}

@keyframes blink {
  to { visibility: hidden; }
}
